{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
  ],
  "ignorePatterns": [
    "dist",
    ".eslintrc",
    "src/**/*.css",
    "src/**/*.scss",
    "src/theme.d.ts",
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh", "simple-import-sort", "prettier"],
  "rules": {
    "react-refresh/only-export-components": [
      "off",
      { "allowConstantExport": true },
    ],
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": true,
        "trailingComma": "all",
        "tabWidth": 2,
        "endOfLine": "auto",
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 80,
        "jsxSingleQuote": true,
      },
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
      },
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
  },
}
